*{
    list-style: none;
    margin: 0;
    padding: 0;
}

.inicio_sesion{
    display: flex;
    align-items: center;
    margin: 10px;

}

.inicio_sesion ul{
    width: 100%;
    display: flex;
    justify-content: flex-end;   

}

.texto_sesion li{
    padding: 0 10px 0 10px;

}

.texto_sesion ul li:last-child{
    border-left: 1px solid gray;

}

.texto_sesion li a{
    text-decoration: none;
    color: gray;
    font-size: 20px;
    
}

.texto_sesion ul li a:hover{
    text-decoration: underline;

}

.logomini img{
    width: 25px;

}

.menu_cinesa{
    display: flex;
    align-items: center;

}

.menu_cinesa ul{
    display: flex;

}

.menu_cinesa li{
    font-size: 20px;

}

.menu_cinesa li a{
    text-decoration: none;

}

.menu_cinesa ul li{
    border: 1px solid white;
    padding: 15px 30px;

}

.menu_cinesa ul li:hover{
    background-color: yellow;

}

.menu_header{

    display: flex;
    align-items: center;

}

.menu_header{



}

#imagen_header{
    width: 300px;

}

#imagen_header img{
    width: 100%;

}

.menu_main{
    display: flex;
    align-items: center;
    justify-content: center;

}

.menu_main ul{
    display: flex;

}

.menu_main ul li{
    width: 100%;
    padding: 20px;

}

.menu_main ul li:hover{
    width: 100%;
    background-color: yellow;
    padding: 20px;  

}

